<div id="shipping_method_form" class="section-shipping" v-if="shipping_required">
  <div class="title section-title">{{ j3.settings.get('sectionTitleShippingMethod') }}</div>
  <div class="section-body">
    <div v-if="Object.keys(shipping_methods).length === 0" class="alert alert-warning"><i class="fa fa-exclamation-circle"></i>{{ error_warning }}</div>
	<span class="text-danger" v-if="error && error.shipping_code" v-html="error.shipping_code"></span>
    <div v-for="shipping_method in shipping_methods">
      <div class="shippings">
        <div class="ship-wrapper">
          <p v-html="shipping_method.title"></p>
          <div class="radio" v-for="quote in shipping_method.quote">
			<span v-if="!quote.gmap_api">
                <label>                        
                    <input v-bind:value="quote.code" type="radio" name="shipping_method" v-model="order_data.shipping_code" v-bind:id="quote.code"/>
                    <span class="shipping-quote-title" v-html="quote.title + (quote.text ? ' - ' + quote.text : '')"></span>
                    <span class="shipping-quote-desc" v-if="quote.desc" v-html="quote.desc"></span>
                    <span v-if="quote.timeframe" v-html="quote.timeframe"></span>
                </label>
            </span>
			<span style="padding-left: 20px;" v-else>                                          
				<input v-bind:value="quote.code" type="radio" name="shipping_method" v-model="order_data.shipping_code" v-bind:id="quote.code"/>
				<span class="shipping-quote-title" v-html="quote.title + (quote.text ? ' - ' + quote.text : '')"></span>
				<span class="shipping-quote-desc" v-if="quote.desc" v-html="quote.desc"></span>
			</span>           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
